[2016-05-27 17:10] kuflash opened #1 "JSDoc"
JSDoc cover all modules

[2016-06-05 14:13] #1 closed

[2016-06-06 20:39] kuflash opened #23 "Will not added the root path"
Routes:
[code]

Expected list of paths: `['/', '/about']`
Result: `['/about']`

Error in [`pathsBuilder`](https://github.com/kuflash/react-router-sitemap/blob/master/lib/routes-parser/path-builder.js#L5) module. Incorrect RegExp rule for delete end `/`

[2016-06-07 09:16] kuflash opened #24 "Add npm tags"

[2016-06-08 16:44] #23 closed

[2016-06-08 17:00] #24 closed

[2016-06-26 15:53] frg opened #33 "Unexpected token (JSX syntax)"
I tried running the example script and I'm getting this error:
`SyntaxError: C:/.. ../routing.jsx: Unexpected token`

![image](https://cloud.githubusercontent.com/assets/1245426/16363313/e7a66aea-3bc6-11e6-9ace-683c8c02b53c.png)

Running the script using:
`node sitemap-builder.js`

And im requiring 'babel-register' as instructed.

Would appreciate the help!

[2016-06-26 18:42] kuflash commented on #33
@frg Hi! What version Node.JS you using?
Check whether all the necessary dependencies installed:
`react`
`react-router`,
`babel-preset-es2015`
`babel-preset-react`

[2016-06-26 18:47] frg commented on #33
Didn't but after installing I'm getting the same issue.

My package.json looks something like this:
`
...
"dependencies": {
    "react": "^0.13.3",
    "react-router": "^0.13.3",
    "react-router-sitemap": "^1.0.7"
  },
  "devDependencies": {
    "babel-preset-es2015": "^6.9.0",
    "babel-preset-react": "^6.5.0",
    "babel-register": "^6.9.0",
    "babel-core": "^5.8.38",
    "babel-loader": "^

[2016-06-26 19:24] kuflash commented on #33
@frg I assume that you are using the old version of the package. You can update them to those used in my package?

[2016-06-29 11:57] kuflash commented on #33
@frg problem is resolved?

[2016-06-29 12:02] frg commented on #33
Yep, resolved. Even though this is a fast and simple solution I ended up creating a project of my own using PhantomJS to create a comprehensive sitemap. Even though my site defines ~8 routes I've got over 7200 url variations! Anyway, still a great job! Thanks @kuflash :)

[2016-06-29 12:02] #33 closed

[2016-09-02 12:35] laurenskling opened #35 "TypeError: (0 , _reactRouterSitemap.sitemapBuilder) is not a function"
If I follow this piece of documentation: https://github.com/kuflash/react-router-sitemap/blob/master/api.md#sitemapbuilder

I get an error.

[2016-09-10 09:37] kuflash commented on #35
@laurenskling thank you, i will fix it

[2016-11-10 20:39] kuflash commented on #35
@laurenskling sorry, I'm slowpoke, but i fixed this error :D Can you try again import sitemapBuilder function?

[2016-11-24 10:59] rafinskipg opened #39 "changefreq, priority, img options"
Hello , there's any way of adding the frequency of change for the routes, priority or image with this module?

The sitemap package does something like this:

[code]

[2016-12-01 10:01] kuflash commented on #39
@rafinskipg yes, it can be. But we need to think about where and how get the required values for these properties. Can add attributes to Route and parse their values in the generation. For the priority can be set depending on the nesting, but someone does not work. What do you think about it?

[2016-12-01 10:43] rafinskipg commented on #39
I think this should be handled via configuration, @kuflash , somehow like the `.applyParams(paramsConfig)`, maybe the configuration that it is applied could both handle the parameters and the priority, etc.

[2016-12-02 09:21] kuflash commented on #39
@rafinskipg good idea

[2016-12-05 13:58] vadimgubin opened #40 "Cannot resolve module 'fs'"
ERROR in ./~/react-router-sitemap/index.es5.js
Module not found: Error: Cannot resolve module 'fs' in .../node_modules/react-router-sitemap
 @ ./~/react-router-sitemap/index.es5.js 1:7097-7110

ERROR in ./~/sitemap/index.js
Module not found: Error: Cannot resolve module 'fs' in .../node_modules/sitemap
 @ ./~/sitemap/index.js 14:9-22

ERROR in ./~/sitemap/lib/sitemap.js
Module not found: Error: Ca

[2016-12-05 14:24] kuflash commented on #40
@vadimgubin how you start script for build sitemap?

[2016-12-05 14:40] vadimgubin commented on #40
I added

import "babel-register";
import Sitemap from 'react-router-sitemap';
.....
    new Sitemap(Router)
        .build('http://my-site.ru')
        .save('./sitemap.xml');

into index.js my app. App build with webpack

[2016-12-05 14:42] kuflash commented on #40
@vadimgubin script working in browser or server?

[2016-12-05 14:48] vadimgubin commented on #40
on server when building app

[2016-12-05 14:54] kuflash commented on #40
@vadimgubin very interesting) I will check today

[2016-12-05 15:59] vadimgubin opened #41 "main.styl: Unexpected token"
main.styl: Unexpected token, expected ( (1:8)

    |         ^
  2 |
  3 | @import 'jeet'
  4 | @import 'nib'
    at Parser.pp$5.raise (/***/node_modules/babylon/lib/index.js:4246:13)
    at Parser.pp.unexpected (/***/node_modules/babylon/lib/index.js:1627:8)
    at Parser.pp$3.parseExprAtom (/***/node_modules/babylon/lib/index.js:3468:14)
    at Parser.parseExprAtom (/***/node_modules/babylon/lib

[2016-12-05 16:02] vadimgubin commented on #41
when I added
require.extensions['.css','.styl'] = function () {
    return null;
};
into sitemap-builder.js

react-transform-hmr/lib/index.js:51
    throw new Error('locals[0] does not appear to be a `module` object with Hot Module ' + 'replacement API enabled. You should disable react-transform-hmr in ' + 'production by using `env` section in Babel configuration. See the ' + 'example in README: h

[2016-12-05 16:11] vadimgubin commented on #41
cross-env NODE_ENV=production node sitemap-builder.js
resolve it :)

[2016-12-05 16:29] kuflash commented on #41
I know about this problem, but this problem is not of this library. In our projects, I also solves the problem with this code:

[code]

[2016-12-05 16:42] vadimgubin commented on #41
Yes, but without this library I didn't have this problem. Sitemap generator for single-page React-apps is very helpful. And I hope improve your library by my bug-reports.

[2016-12-05 16:43] kuflash commented on #40
@vadimgubin I tested locally, and did not receive such errors. Can you create repository where your problem is reproduced?

[2016-12-08 20:10] kylerc commented on #40
I'm getting the same issue with this.  I think it's likely to do with https://github.com/kuflash/react-router-sitemap/blob/master/lib/index.js having `import fs from 'fs';` but `fs` not being listed as a dependency.  @kuflash maybe you have `fs` installed globally?

[2016-12-08 21:08] kuflash commented on #40
@kylerc `fs` it's [nodejs module](https://nodejs.org/api/fs.html). Maybe it can be replaced by something else

[2016-12-08 21:32] kylerc commented on #40
Ya... looks like https://github.com/josephsavona/valuable/issues/9 was actually the issue.  Fixed it for me at least.  @vadimgubin give that a shot.

[2017-01-28 10:35] richardsondx opened #42 "This documentation need to be clarified.. I read it 5 times still don't understand how to use it.."
"It's a minimal example. After running the script, a sitemap.xml file will be created, which includes all paths, described in the configuration of react-router."

1. You're not explaining which script so I had to guess that it was sitemap-builder.js
2. You're not saying how to 'run' the script..
3. It's not clear what's the purpose of your 'API'.

[2017-01-28 15:56] kuflash commented on #42
@richardsondx thank you for feedback! You're right, need run `./example/sitemap-builder.js` for build example sitemap. The script is run with the help of Node.js in your terminal:
[code]

Also your can define npm command in your package.json in `scripts` area:

[code]

and run
[code]

I tried to make the library more modular, so that everyone can build your way to the sitemap generation without th

[2017-01-28 20:57] richardsondx commented on #42
Hey @kuflash I really appreciate you took the time to answer and clarify your documentation a little bit. I really want to use this tool, it looks very useful. Thanks,  I figured out some of the steps already for running the commands ( :) I was ready to submit a pull request to your documentat)  but I'm running into some issue when I set the path to my `router.jsx` file.

For some reason its compl

[2017-01-29 17:13] kuflash commented on #42
@richardsondx maybe you need import `babel-register` in your sitemap builder script? Like [here](https://github.com/kuflash/react-router-sitemap/blob/master/example/sitemap-builder.js#L1). And you need create [.babelrc](https://github.com/kuflash/react-router-sitemap/blob/master/.babelrc) file in root your project.

[2017-02-09 16:54] mbektimirov opened #43 "Optional path parameters are replacing with parenthesis"
Example route: `/:param1(/:param2)`
Output with `applyParams`: `/value1/(value2)`

[2017-02-14 10:56] laurenskling commented on #35
Yes it works!!

[2017-02-14 10:56] #35 closed

[2017-02-16 17:54] Tbutnyakov opened #44 "unexpected character in ... png"
Hello, kuflash!
Thank you for package!
I wanted to try to use your package, but faced with a strange surprise.

Here is sitemap_builder.

[code]

And in console i got:

SyntaxError: c:/someproject/src/assets/img/pages/about.png: Unexpected character '�' (1:0)
[0m[31m[1m>[22m[39m[90m 1 | [39m�PNG
 [90m   | [39m[31m[1m^[22m[39m
 [90m 2 | [39m[37m[41m[1m[22m[49m[39m
 [90m 3 | 

[2017-02-17 08:06] kuflash commented on #44
@Tbutnyakov do you have import png file in your react components? If so, then you should try to add such a construction:

[code]

[2017-02-17 08:40] Tbutnyakov commented on #44
Yep! It works. I tried to do this  like :

[code]
And it didn't work.

In this case:

[code]

Everything works fine.
Thank you!:)

[2017-02-17 08:40] #44 closed

[2017-02-19 16:34] alexeyMohnatkin opened #45 "don't remove last slash"
Please, remove this string it from regexp or create optional parameter for this.
If nginx adds '/' to the request all urls in sitemap will be with 301 redirect, it's not good.

[2017-03-02 08:34] manishachaudhary1234 opened #46 "How do i use dynamic path created by applyParams in sitemap"

[2017-03-02 09:18] kuflash commented on #46
@manishachaudhary1234 can you describe more?
The example is an [example](https://github.com/kuflash/react-router-sitemap/blob/master/example/sitemap-builder.js#L14-L25) of how to use the dynamic parameters in the routes

[2017-03-14 04:55] manishachaudhary1234 commented on #46
Solved. Thankyou

[2017-03-14 08:04] #46 closed

[2017-04-11 16:24] rohitbegani opened #48 "Sitemap is not a constructor"
I'm getting a `sitemap is not a constructor` error on using this module. My `sitemap-builder.js` is as follows:

[code]

[2017-04-11 17:06] kuflash commented on #48
@rohitbegani can you show file which import from `require('./').default`?

[2017-04-23 22:13] Matzu89 opened #49 "Sitemap index: split sitemap for large projects"
Just discovered this, after successfully implementing this library (which is great and works as expected), search engines like `Google` state the following about sitemaps:

`A sitemap file can't contain more than 50,000 URLs and must be no larger than 10 MB uncompressed.`
[(Source)](https://support.google.com/webmasters/answer/183668?hl=en&topic=8476&ctx=topic)

The `sitemap` library used in this

[2017-04-23 22:20] Matzu89 commented on #49
To clarify: I'm working on a project which easily generates 100.000+ urls

[2017-04-24 07:04] kuflash commented on #49
@Matzu89 if you can implement this feature, then I will gladly accept PR.

[2017-04-24 18:51] Matzu89 commented on #49
Great, will push something later this week

[2017-06-02 04:13] #49 closed

[2017-06-05 09:14] rluncasu opened #55 "How can I get this working with webpack?"
I got this working nicely with my react app.However, since I started using webpack, especially a webpack plugin that does a text replace on placeholders within the app code, the sitemap fails, being unable to parse the code( it's actually invalid due to the placeholders). I need to include this into a webpack plugin so that it uses the webpack processed sources instead of actual ones.Any pointers

[2017-06-14 05:17] aj-anuragjain opened #56 "Cannot read property 'limitCountPaths' of undefined"
Upgrade to v1.1.0 from 1.0.8 throw the error.

[2017-06-14 13:37] aYo-dev commented on #56
This is happening because in build method you don't have second parameter (it have to be empty object or object with key 'limitCountPaths').

[2017-06-14 14:51] kuflash commented on #56
@aj-anuragjain sorry, I'm will check this case

[2017-06-14 17:40] kuflash commented on #55
@rluncasu I didn't create webpack plugin for this. Can you create simple example your case and describe more what you want? I will try implement plugin for webpack.

[2017-06-14 18:23] kuflash commented on #56
@aj-anuragjain I fixed this error. Thank you for this report!

[2017-06-16 09:51] #56 closed

[2017-06-16 19:58] rluncasu commented on #55
@kuflash I've created a repo with a minimal skeleton.
https://github.com/rluncasu/minimal-react-webpack-sitemap

I want react-router-sitemap to work with webpack.DefinePlugin which does a search & replace in /src/common/mutuals/index.js.

Currently react-router-sitemap can't parse the code in that file because it hasn't been transformed by webpack.

It does look like what is needed is building a r

[2017-06-17 07:30] kuflash commented on #55
@rluncasu if I right understood you, you want use some variables defined in DefinePlugin for generate routes for react application (for exmaple), and use generated routes for sitemap builder?

[2017-06-18 21:38] rluncasu commented on #55
@kuflash I'm not using the variables for generating routes but in the routes controller. Anyway, the file is referenced and because it's not valid code (not until webpack DefinePlugin replaces the placeholders) sitemap builder errors out when trying to load the routes.

[2017-06-19 15:23] kuflash commented on #55
@rluncasu ok, I'm understood. Can you try use this [plugin](https://www.npmjs.com/package/react-router-path-extractor-webpack-plugin)? It's have callback with array of paths. You can try use API [method](https://github.com/kuflash/react-router-sitemap/blob/master/api.md#sitemapbuilder)  from my modules for generate sitemap from webpack. Report the result, please.

[2017-06-19 20:54] rluncasu commented on #55
@kuflash , I've tried the plugin you suggested but unfortunately that plugin produces the same error (the plugin itself, not react-router-sitemap).
Looking at his code, I can see the reason, instead of using the compiled sources, it loads the routes directly from file.
Webpack plugins must use of the 'compilation' object in order to access the compiled sources (react-router-path-extractor-webpack-

[2017-06-20 09:09] kuflash commented on #55
@rluncasu ok, I'm not sure that this is possible. But I will research this is question. If you can find something on this topic, then please let me know.

[2017-06-21 20:52] rluncasu commented on #55
I figured out a solution.Posting it here so it may help others:

The base issue was that the js code wasn't valid code until it ran through webpack's DefinePlugin.
To solve this, I changed the name of the placeholders inside DefinePlugin config:
*from:*
[code]
*to:*
[code]
**and in my code**
*from:*
[code]
*to:*
[code]

This way, when webpack runs the code through DefinePlugin it will replace the

[2017-06-22 07:29] kuflash commented on #55
@rluncasu cool! Thank you!

[2017-06-26 08:54] #55 closed

[2017-07-18 13:11] hpsharon opened #60 "Uncaught TypeError: d.default.writeFileSync is not a function"
I am trying to generate sitemap like in your example but get the following error:

`index.es5.js?7f84:1 Uncaught TypeError: d.default.writeFileSync is not a function
    at eval (eval at ../node_modules/react-router-sitemap/index.es5.js (http://localhost:8080/app.js:4136:1), <anonymous>:1:2822)
    at Array.map (native)
    at e.value (eval at ../node_modules/react-router-sitemap/index.es5.js (htt

[2017-07-18 14:03] kuflash commented on #60
@hpsharon can you describe about your environment? What version Node.JS do you use? How to run a script that generates a site map? And can you show the source code of the script you are running `react-router-sitemap`?

[2017-07-27 13:11] RostislavBerezhnoy opened #61 "sessionStorage, document is not defined..."
Добрый день.
Возникла небольшая проблема, при запуске скрипта:

[code]
появилось много ошибок, таких как:
[code]
[code]

[code]

В devDependencies у меня:
[code]

Подскажите пожалуйста, как можно решить эту проблему? Может я не правильно что-то подключил в скрипте?

[2017-07-27 17:01] kuflash commented on #61
@RostislavBerezhnoy дело в том, что скрипт исполняет node.js, а в его окружении нет таких  глобальных объектов, как `document` и `sessionStorage`. И покажите, пожалуйста, ваш файл, который вы импортируете таким образом: `require('./src/index')`. У меня есть ощущение, что там не то, что требует на вход генератор.

[2017-07-28 07:24] RostislavBerezhnoy commented on #61
Вот мой require('./src/index')

[code]

[2017-07-28 07:58] kuflash commented on #61
@RostislavBerezhnoy вам необходимо отделить конфигурацию маршрутов от самой инициализации приложения. Вот посмотрите, как сделано тут: [RouterConfig](https://github.com/CSSSR/csssr.ru/blob/master/app/routes.jsx), [App](https://github.com/CSSSR/csssr.ru/blob/master/app/app.jsx)

[2017-07-28 08:17] RostislavBerezhnoy commented on #61
Спасибо Вам больше, я отделил и все получилось!
Осталось только конфигами заняться чтобы пофиксить динамические урлы.

[2017-07-28 08:17] #61 closed

[2017-08-08 19:30] edwardbiden commented on #42
I'm seeing a similar problem (after creating .babelrc as in the link):

`/Users/edwardbiden/Code/learnitect-react/node_modules/babel-core/lib/transformation/file/index.js:590
      throw err;
      ^

SyntaxError: /Users/edwardbiden/Code/learnitect-react/src/tools/router.jsx: Unexpected token (5:2)
  3 |
  4 | export default (

    |   ^
  6 |     <Route exact path="/" />
  7 |     <Route path="/g

[2017-08-09 06:35] kuflash commented on #42
@edwardbiden did you install dependencies Babel Preset for React? Judging by mistake, you do not support the JSX syntax. Can you show me file where you import `react-router-sitemap`?

[2017-08-09 17:41] edwardbiden commented on #42
Ok, really appreciate your help on this. The instructions are also not so clear to me, but I'm just teaching myself React the past few weeks, so I thought that was just me ... ;-)

So, I copied these lines into my App.js file:
[code]
My site-builder.js file looks like this:
[code]
And my router.js file looks like this:
[code]
(This is duplicate code from App.js where I have some <Router> code mixe

[2017-08-09 20:12] edwardbiden commented on #42
I tried it slightly differently too... removed everything from App.js and created a new folder in my project "/tools" and then added two files: router.jsx and sitemap-builder.js

router.jsx
[code]

sitemap-builder.js:
[code]

and then I tried it via terminal, as I read the browser might be causing the writeFileSync error I was getting before.
[code]
So my files are exactly what is in the documenta

[2017-08-09 21:23] kuflash commented on #42
@edwardbiden you need add this is code into `sitemap-builder.js`:
[code]

[2017-08-09 22:55] edwardbiden commented on #42
this now gives the following error:
[code]

[2017-08-10 07:46] kuflash commented on #42
@edwardbiden you need add this is construction for all non-JS resources. For example:
require.extensions['.css', '.png'] = function () {
  return null;
};

[2017-08-10 18:42] edwardbiden commented on #42
@kuflash ok awesome - thanks I got this going now :-)

I realised as well, that because I installed react-router-sitemap from npm, that the folder structure in my project is not exactly the same as in github here. Just in case anyone else is having the same problem I'll explain what I did...

First I added the constructor for all non-JS resources as you suggest:
[code]

Then I needed to change the

[2017-08-10 18:55] kuflash commented on #42
You not need write full path to `node_modules` for import `react-router-sitemap`. It is enough to write so:
[code]

[2017-08-22 10:14] #42 closed

[2017-09-13 18:39] saadaouad opened #63 "SyntaxError: Unexpected token import"
Hi @kuflash,
I run my scripts using `npm run build:sitemap` and i get this error, i don't know why :
[code]
### sitemap-builder.js
[code]
Command run scripts
### package.json
[code]
### FYI :
the `Retour.js` working well, and i use `react-router-dom`

Any idea about why i get this error ?

[2017-09-13 22:19] kuflash commented on #63
@saadaouad can you show me `.babelrc` file?

[2017-09-13 23:31] saadaouad commented on #63
Sure!

### .babelrc
[code]

[2017-09-14 06:27] kuflash commented on #63
@saadaouad maybe it's error is due to `{ "modules": false }`? Try remove this object.

[2017-09-14 11:44] saadaouad commented on #63
Yep working well @kuflash, thanks a lot

[2017-09-14 11:44] #63 closed

[2017-10-03 20:24] #43 closed

[2017-10-04 07:03] j4mesjung commented on #39
has this been implemented?

[2017-10-04 07:28] kuflash commented on #39
@j4mesjung no, I, unfortunately, did not have time to implement this feature. I will be grateful for the PR, if you want to implement this.

[2017-10-10 11:29] iDuuck opened #67 "Don't use `react` and `react-router` as dependencies"
It causes redundancies. Also, I am receiving this because of this:

[code]

[2017-10-10 22:07] kuflash commented on #67
@iDuuck React not included in result bundle, but needed for run [example script](https://github.com/kuflash/react-router-sitemap/tree/master/example). React Router [used directly](https://github.com/kuflash/react-router-sitemap/blob/master/lib/index.js#L5) in bundle for get paths. But it looks like your warnings is [common problem](https://github.com/yarnpkg/yarn/issues/3751#issuecomment-332166987

[2017-10-10 22:08] iDuuck commented on #67
Though, React should be a devDependency and React-Router should be a peerDependency... am I wrong?

[2017-10-10 22:23] kuflash commented on #67
@iDuuck yep, you're right. I'm will changing config in the near future. Thank you!

[2017-10-24 07:30] sonal241 commented on #40
Hey,can I use this plugin for vuejs??? Or Please help me,If you have any suggestion about vuejs sitemap.
Thank you

[2017-10-24 09:04] kuflash commented on #40
@sonal241 hey! Please create new issue for discuss this question.

[2017-10-27 18:24] ricardo-quinones commented on #67
@kuflash we're using this on a project and trying to upgrade to React 16 but the react dependency is causing us issues. Any chance that a patch could be worked on just to remove the react dependency?

[2017-10-28 16:33] kuflash commented on #67
@ricardo-quinones yep. I use React only for example script.

[2017-12-12 20:18] i8ramin commented on #67
Any updates on this?

[2017-12-13 13:35] #67 closed

[2017-12-30 17:27] amaurymartiny opened #71 "Does it work with React Router 4?"
I dont have a router configuration as defined in the README, my routes are components in nested components.

[2018-01-08 18:24] JustFly1984 commented on #71
+1

[2018-02-20 15:54] immunity20 opened #72 "react-router-sitemap creates 2 files: sitemap.xml and sitemap-0.xml"
Hello, my router is 🥇
[code]

sitemap creates 2 files sitemap.xml ( only contains /) and sitemap-0.xml (contains the rest paths).

[2018-02-23 14:07] kuflash commented on #72
Hi @immunity20. Can you show your xml files?
Now, package generate 2 files, because we need support long sitemaps. First file storing links on sitemap chunks with [max URLs](https://www.microsystools.com/products/sitemap-generator/help/xml-sitemaps-page-limit/).

It is possible of course to write a condition that will check the maximum number of URLs and decide to create several files or one. I wi

[2018-03-18 03:01] 42deSix commented on #71
In  React Router 4, unlike 3rd version, we need to choose what to import among `react-router`, `react-router-dom`, and `react-router-native` depending on the purpose.

React-router-sitemap is a module for building a sitemap.xml, which is used for SEO of websites, so it needs `react-router-dom`, but when you look into the [source code](https://github.com/kuflash/react-router-sitemap/blob/master/lib

[2018-03-28 02:08] Fandekasp commented on #71
hi @kuflash , did you stop maitaining this package ?

[2018-03-28 17:44] kuflash commented on #71
@Fandekasp no, but I do not have much time to deal with the support of React Router 4. If you can create PR for this, I will be very grateful to you.

[2018-03-29 08:38] Fandekasp opened #73 "How should we deal with window ?"
My routes are using components as follow:
[code]
And some of the components use the window object. We installed the [window-or-global](https://www.npmjs.com/package/window-or-global) package, then I changed the entry point of my webpack config to start at `script/sitemap-builder.js` instead of  `src/app.js`, but when trying to run `node dist/sitemap-builder.js`, I'm still getting a `ReferenceError

[2018-03-29 08:39] Fandekasp commented on #71
@kuflash ok. I'm facing [an issue with window](https://github.com/kuflash/react-router-sitemap/issues/73) when trying to use your package, please support me :)

[2018-03-29 10:10] kuflash commented on #73
@Fandekasp how do you use [window-or-global](https://www.npmjs.com/package/window-or-global). You are replace window keyword to root from this package?

[2018-05-21 14:01] chemaxa opened #74 "Обработчик уровней больше 2"
Привет. Спасибо большое за проделанную работу, как можно обработать урлы когда параметров больше двух?
Например такие /car-catalog/models/:brandId/:modelName/:year
Так не работает:
`'/car-catalog/models/:brandId/:modelName/:year/': [
            {
                brandId: 'audi',
                modelName: [
                    {
                        modelName: 'a4',
                        yea

[2018-05-21 14:16] chemaxa commented on #74
Все разобрался
`
'/car-catalog/models/:brandId/:modelName/:year': [
            {
                brandId: 'audi',
                modelName: ['a4'],
                year: ['1993', '1994']
            },
            {
                brandId: 'audi',
                modelName: ['a5'],
                year: ['1998', '2001']
            }
        ]
`

[2018-05-21 14:16] #74 closed

[2018-06-27 12:35] stefankp commented on #44
@kuflash I get a similar error which isn't solved with the above steps.

Error:
[code]

`sitemap.js`:
[code]

Babel Config:
[code]

Any idea how to solve this?

[2018-06-27 15:41] kuflash commented on #44
@stefankp try moving this is part before require routes:
[code]
For example, after `require('babel-register');`

[2018-06-27 20:39] stefankp commented on #44
@kuflash that worked 👍

Next error was, that `babel-preset-react-app` didn't have access to `NODE_ENV`, so added:
[code]

Now it throws a `SyntaxError` because of ES6 `export` syntax in another module, even though the babel preset is configured 🤔
[code]

[2018-06-28 07:34] kuflash commented on #44
@stefankp it seems to me that this mistake is not entirely relevant to this problem. I will try in the next couple of days to test for this problem. Can you make a test repository where this problem is reproduced? It would be great

[2018-07-09 08:01] viru9 commented on #60
@hpsharon, @kuflash i got the same problem,
Uncaught TypeError: d.default.writeFileSync is not a function.

my node version is 9.10.1, i put this in index.js,
new Sitemap(router)
       .build('http://localhost:8080/')
       .save('./sitemap.xml');

[2018-07-09 09:43] kuflash commented on #60
@viru9 thank you for report, but i can not reproduce it's problem on node 9.10.1. Can you create test repository where error is reproduce?

[2018-07-09 14:01] kuflash commented on #60
@viru9 do you accidentally run your code in the browser? Because it's script run only in node.js enviroment.

[2018-08-12 09:36] kuflash commented on #72
@immunity20 it's fixed by @daijobou3. I'm publish version 1.1.4 in npm with this is fix

[2018-08-12 09:37] #72 closed

[2018-09-02 14:34] merlinpatt opened #77 "Cannot read property func of undefined"
I just did a fresh install of this and got the following error

[code]

[2018-09-05 15:04] Cretezy commented on #77
Somehow this package depends on React 15, which included the PropType package, and you are using 16 which removed it.

We ran in the same issue, you can use the `@cretezy/react-router-sitemap` package which solves this, I'll be doing a PR to this repo soon to try to get the fix upstream

[2018-09-25 04:53] n3ssi3 commented on #77
I just installed the latest version, and now I get the following error.
Am I doing something wrong?
("react": "^16.3.2", "react-router": "^4.2.0")

[code]

[2018-09-25 07:06] kuflash commented on #77
@n3ssi3 unfortunately this library does not work with react-router 4

[2018-10-29 14:26] GarrettJMU opened #80 "Unexpected character for PNG"
Read through the previous issues and wasn't able to solve the issue.

Versions:
React: 16.5
react-router-sitemap: 1.1.5
react-router: 4.3.1

.babelrc:
`{
  "presets": [
    "env",
    "react",
    "stage-3"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-inline-environment-variables",
    "recharts"
  ]
}`

Sitemap.js

`require('babel-register')

require.extensions[
  ('.svg'

[2018-10-29 15:52] raajnadar commented on #71
Is there any update??? for react router v4?

[2018-10-29 22:38] Fandekasp commented on #71
I lacked time and built my sitemap using another tool in the end

On Tue, Oct 30, 2018, 12:56 AM Rajendran Nadar <notifications@github.com>
wrote:

[2018-10-30 06:52] kuflash commented on #71
@Fandekasp did you manage to use ReactRouter 4 configuration with some kind of site map generation tool? What did you use as input?

[2018-10-30 06:59] Fandekasp commented on #71
I just built a custom script that queried all data needed from the
database, and that built the urls from that information.  Completely
unrelated to react and react-router. Will gladly restart using
react-router-sitemap when someone can fix this issue.

On Tue, Oct 30, 2018 at 3:52 PM Igor Uvarov <notifications@github.com>
wrote:

[2018-11-02 21:49] TheBestDon commented on #71
could you share your script to peak at, as I am about to try similar task and would be interested to see your approach. Thanks.

[2018-11-09 07:02] Joseph7451797 commented on #71
Here is my workaround about v4 react-router compatibility. Simply to say, I extract ```createRoutes``` [method](https://github.com/ReactTraining/react-router/blob/v3/modules/RouteUtils.js) from v3 react-router code base, and replace ```createRoutes``` in react-router-sitemap with extracted code.

In my project, I use v4 react-router like this:
[code]
My sitemap builder example:
[code]

I know this

[2018-11-09 09:42] kuflash commented on #71
@Joseph7451797 interesting solution. Maybe I can implement this. Or you can create PR with this solution. I'll be very grateful.

[2018-11-12 13:36] marcoseoane opened #81 "TypeError: (0 , m.createRoutes) is not a function"
Node Version: v8.12.0
Create-React-App

I have replicated the way it is used in the example, and get the error mentioned in the issue title, if there is any information that I have failed to provide that would be of use to you please notify me and I will take a look and list here.

routes.jsx
`
import React from 'react';
import { Route, Redirect } from 'react-router';

export default (
	<Route>

[2018-11-12 15:57] kuflash commented on #81
@marcoseoane what version `react-router` do you use?

[2018-11-12 16:39] marcoseoane commented on #81
"react-router": "^4.2.0",

[2018-11-12 17:12] kuflash commented on #81
@marcoseoane unfortunately at the moment 4 version is not supported. Now you can use this is [example](https://github.com/kuflash/react-router-sitemap/issues/71#issuecomment-437269350)

[2018-11-13 09:20] marcoseoane commented on #81
Thanks for the response, I have tried again to copy the exact example given in the issue you linked me to. Now i get an error complaining about the use of the 'import' statement in the sitemap-builder.js file, I made sure to include all of the babel dependencies in the package.json + copied the .babelrc file in the repo example just to make sure and nothing I do seems to get rid of this error, any

[2018-11-13 15:30] kuflash commented on #81
@marcoseoane maybe try use expression `require('babel-register');`? Can you create repository with its error?

[2018-11-14 09:10] marcoseoane commented on #81
yeah i did include this statement right at the top of sitemap-builder.js and no luck, could there be anything overriding babel possibly?

[2018-11-17 15:48] Joseph7451797 commented on #81
@marcoseoane I found that I forgot to address my `npm scripts` in the [example](https://github.com/kuflash/react-router-sitemap/issues/71#issuecomment-437269350).

Here is my `npm scripts`:
[code]
When you are using `babel-node`, there is no need to require `babel-register` in your JS file.

[2018-11-19 16:02] marcoseoane commented on #81
thanks for the response, while it prevented my previous errors from triggering i'm now getting this.

![screen shot 2018-11-19 at 16 01 11](https://user-images.githubusercontent.com/28088807/48719089-8d5d4080-ec14-11e8-9797-8782caf4ec1c.png)

[2018-11-19 16:15] marcoseoane commented on #81
thanks for the response, your script prevented the other errors I got from triggering but now I am getting this.

![screen shot 2018-11-19 at 16 01 11](https://user-images.githubusercontent.com/28088807/48719824-42442d00-ec16-11e8-93e0-3e16183b6ba3.png)

[2018-12-31 13:33] NirBerko opened #83 "Unexpected token"
I tried running the with the example script and I am getting this error (i also tried to update all the dependencies)

![capture](https://user-images.githubusercontent.com/2345040/50561235-73357880-0d11-11e9-9aca-85b0ef067e78.PNG)

[2019-01-11 15:20] kuflash commented on #83
@NirBerko you installed babel in your project? node.js just doesn't understand jsx syntax

[2019-01-29 10:01] The-Code-Monkey commented on #83
It is doing this for me too and i have

[code]

this as my package json and i have babel installed

[2019-01-29 11:24] The-Code-Monkey commented on #71
@Joseph7451797 im getting this error when i try and run your workaround throw new Error(`Plugin/Preset files are not allowed to export objects, only functions. In ${filepath}`);

[2019-01-29 21:07] kuflash commented on #83
@The-Code-Monkey how you run script for build sitemap? Have you babel config file in your project? Can you show me script what building sitemap?

[2019-01-29 21:10] kuflash commented on #71
@The-Code-Monkey maybe it's solution? https://github.com/babel/babel/issues/6808#issuecomment-343792786 Can you show your babel config?

[2019-01-29 22:00] The-Code-Monkey commented on #71
@kuflash I'm using the default in ejected CRA V2 config whatever that is

[2019-01-30 03:45] Joseph7451797 commented on #71
CRA v2 uses babel v7. However in my use case I use babel v6.

[2019-01-30 07:12] The-Code-Monkey commented on #71
Is this package going to be updated any time soon?

[2019-01-30 16:18] kuflash commented on #71
@The-Code-Monkey I publish 1.2.0 version. Can you try update in your project? I'm create test project with CRA V2, install this is packages:

[code]

Add `.babelrc` file:
[code]

Add router file:
[code]

Add script for build sitemap `sitemap-builder.js`:

[code]

And run in terminal `node sitemap-builder`. In root directory created file `sitemap.xml`

[2019-01-30 16:30] The-Code-Monkey commented on #71
Do I need the Param config or will it find routes without that?

I will try it tomorrow with my current project.

[2019-01-30 17:41] kuflash commented on #71
@The-Code-Monkey params config use only for generate values for dynamic routes.

[2019-01-31 00:59] francisrod01 commented on #71
@kuflash the new version will have this implementation to the react-router 4.*?

[2019-01-31 01:23] Joseph7451797 commented on #71
Yes, 1.2.0 version supports react-router 4. The workaroud in my comment above is already in this version.

[2019-01-31 02:16] francisrod01 opened #85 "m.createRoutes is not a function"
The version latest: `1.2.0` have this bug on the compilation.

[code]

On console:

[code]

[2019-01-31 02:17] francisrod01 commented on #71
For me it's not work. #85

[2019-01-31 05:23] The-Code-Monkey commented on #85
You don't seem to be ignoring node modules I think you have to ignore them

[2019-01-31 08:41] kuflash commented on #85
@francisrod01 Are you sure, what react-router-sitemap is updated to 1.2.0 in your project? A similar error usually yielded when there was no support ReactRouter V4.

[2019-01-31 15:21] francisrod01 commented on #85
I'm sorry for that.
I was confused. Npm shows me the latest version usin `npm info`.
Now it's work.

[2019-01-31 17:57] kuflash commented on #71
@The-Code-Monkey were you able to run assembling the sitemap according to my examples?

[2019-01-31 19:57] francisrod01 commented on #85
@kuflash What I could do to solve the `param` problem? Using database to list those urls?

[code]

[2019-01-31 19:57] francisrod01 commented on #81
Related  #85.

[2019-01-31 20:00] francisrod01 commented on #71
It works now. #85.

[2019-02-01 10:07] kuflash commented on #85
@francisrod01 it's another question. Can you create separate issue?

[2019-02-01 10:18] #85 closed, assigned to nobody

[2019-02-01 19:20] francisrod01 opened #86 "There's no possible to generate all links based on the routes"
There's no possible to generate all links based on the routes, because I had to created a new route-list without import any component. (just links)

Envs:
- npm: 6.5.0
- node: 8.11.2
- react-router-sitemap: 1.2.0

[code]

@kuflash What I could do to solve the param problem? Using database to list those urls?

[code]

[2019-02-01 19:56] kuflash commented on #86
@francisrod01 yes, if you use dynamic routes you need load data for this routes. You can load it's from DB and create rules for mapping data to dynamic routes. Example creating this params stored in [example](https://github.com/kuflash/react-router-sitemap/blob/master/example/sitemap-builder.js#L31-L50) file.

Some pseudocode:

[code]

Also, you can read [docs](https://github.com/kuflash/react-rou

[2019-02-06 14:39] kuflash commented on #86
@francisrod01 did you have to figure it out?

[2019-02-08 19:17] idavydoff commented on #83
Can you help me with it? I've got the same error ;d

[2019-02-08 19:20] idavydoff commented on #83
This is my packege.json file
![default](https://user-images.githubusercontent.com/28686284/52500702-b11a9c00-2bef-11e9-8a72-8a7dcc97dba0.png)

[2019-02-08 21:42] kuflash commented on #83
@IDSaves can you explain how you run script for build sitemap? Maybe you need install babel preset for JSX - `@babel/preset-react` and package `@babel/register`

By the way I answered detail in it [issue](https://github.com/kuflash/react-router-sitemap/issues/71#issuecomment-459006229)

I created example with CRA2 https://www.dropbox.com/s/3zw62xrfxhitfda/sitemap-builder-example.zip?dl=0

Please,

[2019-02-10 14:19] francisrod01 commented on #86
@kuflash I'll see it tomorrow and go back with the answer.
Thanks! :)

The-Code-Monkey says:
https://github.com/kuflash/react-router-sitemap/issues/85#issuecomment-462902779

Yes, I know. Before to implement that I've been creating a table structure separating all the SEO including all slugs related by the topics. That way prevents I created a VIEW or something else in MongoDB further to indexes f

[2019-02-11 14:48] The-Code-Monkey commented on #71
@kuflash How do you do this dynamic routes that come from the db as they are generated based on user input from the backend cms we have

[2019-02-11 15:15] The-Code-Monkey commented on #71
im getting an error saying `Browser history needs a dom` using your latest version.

[2019-02-11 15:57] kuflash commented on #71
@The-Code-Monkey I answered on this question in this issue #86

[2019-02-11 16:05] The-Code-Monkey commented on #71
@kuflash how do i fix the browser history needs a dom.

[2019-02-11 16:45] kuflash commented on #71
@The-Code-Monkey this error is not due to this library, but due to the fact that you are using client code in the environment of node.js, where there is no Browser Histoty API. Maybe you need to separate your router from the `<BrowserRouter>`. For [example](https://github.com/nozzle/react-static/issues/343#issuecomment-445489126).

[2019-02-11 16:57] The-Code-Monkey commented on #71
Ok so the routes file needs to have a separate file. I can sort that out

[2019-02-12 08:57] The-Code-Monkey opened #87 "Doesn't work for dual dynamic routes"
if i have /course/:category/:course and do the mapping like

[code]

this outputs:

[code]

rather than:

[code]

how would i do the second one or is it not possible at the moment??

also could this work for longer urls as i have some that have 3 or 4 dynamic urls

[2019-02-12 18:42] francisrod01 commented on #85
Yes. There's no possible to generate all links based on the routes #86

[2019-02-12 19:35] kuflash commented on #87
@The-Code-Monkey for this cases you should use this construction rule:
[code]

If you have 3 or more dynamic route parts, the rules will look like this:

[code]

[2019-02-12 19:35] The-Code-Monkey commented on #85
There is you just have to do a fetch with a dB call that gets the slugs from your dB and format it in the way for params to work I'll show you our setup at work tomorrow when I do it for out latest project

[2019-02-12 20:00] The-Code-Monkey commented on #87
Thanks

[2019-02-12 20:00] #87 closed, assigned to nobody

[2019-02-13 12:42] francisrod01 commented on #85
Yes, I know. Before to implement that I've been creating a table structure separating all the SEO including all slugs related by the topics. That way prevents I created a VIEW or something else in MongoDB further to index millions of links.

[2019-02-13 13:16] kuflash commented on #86
@francisrod01 unfortunately I can not understand what your problem. If you have all data in MongoDB, why you don't create connect to it and get all data for generate sitemap? Script for build sitemap is run once to create the XML file, and not for each sitemap request, for example, by a robot.

[2019-02-13 13:25] francisrod01 commented on #86
@kuflash I mentioned I'll create that.
I think this is the best solution to do that so I'll close for now.

[2019-02-13 13:25] #86 closed, assigned to nobody

[2019-02-14 08:32] kuflash commented on #71
@The-Code-Monkey did you manage to solve the problem?

[2019-02-14 08:33] kuflash commented on #83
@IDSaves could you figure it out? Did you build a sitemap?

[2019-02-14 08:44] The-Code-Monkey commented on #71
yeah i got this working.

[2019-02-14 08:47] #71 closed

[2019-02-28 14:05] xEcEz commented on #80
It seems that including several extensions at once in require.extensions does not work. I've got it working by including them one by one, like this:

[code]

[2019-03-13 16:28] UihyunKim commented on #83
@kuflash With your help(specifically example code), the sitemap is well generated. I should appreciate for that! Reeeeally thanks!!!

I use CRA and don't know well how to deal with babel for customize. Anyone who comes in this page, take a look at those example.zip how to set up babel things.

[2019-03-14 22:59] glothos opened #88 "Cannot find module 'components'"
Hi there, first of all thanks for maintaining this package for so long.

I'm using webpack for this project and I've been trying to create its sitemap. I'm getting this error when running script to build the sitemap: `"sitemap:create": "node ./src/sitemap-builder.js",`

Here's my router file:
[code]
and here's `sitemap-builder.js`

[code]

For some reason I get this error:
[code]
This components f

[2019-03-15 00:58] glothos commented on #88
I found a solution. If you are using webpack to set an absolute path and you want to use this package, you can make it work by using `babel-plugin-module-resolver`. Here is how your `.babelrc` should look like:

[code]
Now I got the window issue. Wherever I use `window` object it says window is not defined. If I find a workaround I will post here.

[2019-03-26 20:34] dougmorin opened #89 "Issue working with react-granim"
I tried your example zip to compare it with a local project that i'm having an issue on.  I've tracked it down to the `react-granim` library, but i'm not sure why it's throwing an error.

If I remove this library, the issue goes away and i'm able to create the sitemap.

Below are the files I either added or modified in order to get your example to throw the error.

## Issue
console
[code]

## How

[2019-03-27 11:06] adityatandon007 opened #90 "Syntax Error: Unexpected token import"
Running `node sitemap-generator.js` in my react project that builds using webpack gives this error:

/home/batman/webUI/src/components/index.js:77 return import('./shopping/shoppingByBrand/shoppingByBrand');
               ^^^^^^

SyntaxError: Unexpected token import
    at createScript (vm.js:80:10)
    at Object.runInThisContext (vm.js:139:10)
    at Module._compile (module.js:616:28)
    at loa

[2019-03-27 15:57] kuflash commented on #89
@dougmorin it happens because babel not `react-granim` don't transform code in `node_modules`. I'm found this is [solution](https://stackoverflow.com/questions/54788809/babel-7-dont-compile-class-es6-which-in-node-modules).

You can move babel config from `.babelrc` to `babel.config.js` file. And in `sitemap-builder.js` replace this is code:

[code]

to:

[code]

I built sitemap with such actions

[2019-03-27 16:13] kuflash commented on #90
@adityatandon007 can you create repository with project where problem is reproduce? I'm try reproduce your configuration in my project and it's all ok, sitemap is built

[2019-03-27 16:15] kuflash commented on #88
@glothos sorry, i not saw your issue. You were able to deal with the problem `window` object?

[2019-03-27 16:32] adityatandon007 commented on #90
@kuflash my project doesn't use `react-router` it uses `react-router-dom` and I have an entirely different custom setup for loading my routes. I cannot understand why running the `node sitemap-generator.js` is trying to run my `src/components/index.js` which has import statements for loading components specific to a route. So `src/components/index.js` looks like this:

import React from 'react';
i

[2019-03-27 16:37] adityatandon007 commented on #90
@kuflash one more thing why it is trying to read those `scss` files. I think building sitemap has nothing to do with those styles. Also why it is trying to read that `src/components/index.js ` file, when all my route related info is in `routes.js`

[2019-03-27 17:18] kuflash commented on #90
@adityatandon007 maybe you are importing a `scss` file somewhere, which is chained into a file `routes.js`. For resolve this is problem you can try this is solution: https://github.com/kuflash/react-router-sitemap/issues/44

[2019-03-27 18:30] dougmorin commented on #89
I replaced what you said in the sitemap-builder.js file, and i moved `.babelrc` > `babel.config.js` and updated the contents of the file to:

[code]

It's still returning the same error for me.

[2019-03-27 18:40] kuflash commented on #89
@dougmorin can you create repository where it problem is reproduce?

[2019-03-27 18:56] dougmorin commented on #89
https://github.com/dougmorin/react-router-sitemap-example

[2019-03-28 00:30] glothos commented on #88
Not really, problem still persists. I tried some other approaches like defining window object, I managed to skip that problem but I couldn't make it work with my current structure which I don't think it's related to this package.

[2019-03-28 05:35] adityatandon007 commented on #90
@kuflash I followed the instructions mentioned in #44 and ignored all my styles files and images using the solution. But now it is throwing  this error:

SyntaxError: /home/batman/webUI/src/components/feed/PostedBy/PostedBy.js: Missing class properties transform.
  308 |     }
  309 |

      |     ^
  311 |         popoverStore.register(this.hide);
  312 |         this.setState({ isPopoverShown: t

[2019-03-28 07:04] kuflash commented on #90
@adityatandon007 it problem of babel: https://github.com/babel/babel/issues/2729

[2019-03-28 09:52] adityatandon007 commented on #90
@kuflash yes I figured that out, basically my order for presets for wrong in `.babelrc` but still I couldn't generate the sitemap. It was showing an error related to `window.eventEmitter` undefined. How could I resolve that, plus it would be nice of you to post an example on how to integrate this with webpack.

[2019-03-28 09:56] adityatandon007 commented on #73
@Fandekasp  did you find a way to solve the window problem, because I am also getting this same error for my project and could you help me with what changes are required to work this with webpack, regarding entry points setup and where should I keep this so that it runs always at the time of deployment.

[2019-03-28 14:55] adityatandon007 commented on #90
@kuflash I did generated the sitemap but after creating a new `sitemap-routes.js` specially to feed into `sitemap-generator.js` because my original `routes.js` is configured differently and it loads different components related to the path it matches and a lot custom redirection is also there, so I created a new routes for sitemap that looks similar to what is mentioned in example:

import React f

[2019-03-28 17:13] kuflash commented on #89
@dougmorin you need add `ignore: [/node_modules\/(?!react-granim)/]` in `babel.config.js`

[2019-03-28 17:26] kuflash commented on #90
@adityatandon007 I not sure how implement your requested feature. In core my library I use libara [sitemap.js](https://github.com/ekalinin/sitemap.js) and I don't found how concatenating several xml files. I will be very grateful if you try to conduct a research and send PR.

[2019-03-28 17:27] dougmorin commented on #89
Thank you, that worked!  I tried to ignore the entire node_modules folder before but it didn't work.

[2019-03-28 17:27] #89 closed, assigned to nobody

[2019-03-29 05:05] adityatandon007 commented on #90
@kuflash  thanks for the help but it would be nice of you if you could add that snippet for removing styles and images in doc as optional, or if you want I could send a PR for that.

[2019-03-29 05:05] #90 closed, assigned to nobody

[2019-04-01 14:15] bbv-hungtran commented on #83
Thanks a lot. This really helps!

[2019-07-16 22:04] #80 closed

[2019-08-17 05:51] Hudsonzp commented on #39
Would be super helpful!

[2019-08-29 14:27] jon-moreira opened #91 "SyntaxError: Unexpected token"
When i try to run my sitemap-builder.js i get this error:

[code]

**### sitemap-builder.js**

[code]

**### routing.js**

[code]

[2019-08-30 06:58] giles-cholmondley-durston opened #92 "How to set lastmod, changefreq, priority?"
Google expects to see `<lastmod>` and `<changefreq>` attributes in your sitemap file. It isn't clear if this is possible with this package based on the documentation.

[2019-08-30 14:03] focampo92 opened #93 "Unexpected token"
I have a problem with SVG files, when i run **npm run sitemap**  is generating the following error:

![error](https://user-images.githubusercontent.com/20362167/64027190-d0363800-cb05-11e9-855f-93dbb198e489.PNG)

[2019-09-06 08:14] kuflash commented on #91
@expouic can you create test project with this error?

[2019-09-06 08:17] kuflash commented on #92
@jaybowles sorry, but now it not possible. A similar request already exists https://github.com/kuflash/react-router-sitemap/issues/39, but I don’t have time to implement this feature now. I will be grateful if you could send PR.

[2019-09-06 08:19] kuflash commented on #93
@focampo92 maybe it is same problem? https://github.com/kuflash/react-router-sitemap/issues/80

[2019-09-14 14:32] annmirosh commented on #39
This is my workaround for this case:

[code]

The generated xml contains changefreq and priority.

[2019-09-17 12:25] cristian-sima opened #94 "working with babel 7?"
Hi!

Is it working with babel 7, cause I am getting this:

[code]

[2019-09-23 17:22] kuflash commented on #94
@cristian-sima it's very strange, because babel is devDependency for this is package. Are you install babel@7 in your project? Can you create test repo with this error?

[2019-09-24 06:19] ramneet-chopra commented on #41
I am also facing this error but in different context. I tried above mentioned solution but it doesn't work for me. I do not have much experience on babel. I created below babelrc file

{
  "ignore": [
  "node_modules/**/*"
],
"presets": [
  "@babel/preset-env",
  "@babel/preset-react"
],
"plugins": [
  "babel-plugin-react-css-modules",
  "transform-class-properties",
  ["module-resolver", {
    "c

[2019-09-24 10:08] kuflash commented on #41
@ramneet-chopra where is you added this is code?
[code]

Can you show file where calling sitemap generator?

[2019-10-08 02:29] Yvanovitch commented on #73
[window-or-global](https://www.npmjs.com/package/window-or-global) is equivalent to `if(typeof window !== 'undefined')` and allows you to avoid using window when you are on node side.

[2019-10-26 20:15] wsdt opened #95 "Typescript support"

[2019-10-30 20:16] john-martinez-729 opened #96 "Unexpected token error"
When I call the yarn command to build the sitemap, I get this error:

![error](https://user-images.githubusercontent.com/52676492/67895256-88955200-fb30-11e9-87ea-29db1681dda5.jpg)

My package.json is the following: `{
  "name": "velocity_channel",
  "version": "0.1.0",
  "private": true,
  "dependencies": {
    "@babel/preset-react": "^7.6.3",
    "@babel/register": "^7.6.2",
    "@nivo/circle-pa

[2019-11-04 02:27] inverleighdigital commented on #94
I'm getting the same error Error: Requires Babel "^7.0.0-0", but was loaded with "6.26.3".

[2019-11-06 00:36] inverleighdigital commented on #94
I had the same issue but discovered it was due to referencing old babel library
require("babel-register");

make sure you use:
require('@babel/register');

[2019-11-18 09:50] kuflash commented on #96
@john-martinez-729 Can you try solution from https://github.com/kuflash/react-router-sitemap/issues/83?

[2019-11-22 16:58] #94 closed, assigned to nobody

[2019-12-03 22:16] ekfuhrmann opened #97 "React Router v4 .babelrc config issue"
I followed your guidance in #71 and got `node sitemap-builder` to run, however I'm running into the issue of it having trouble with it parsing my `Styled Components` library.

See the error bellow:

[code]

This all builds correctly within my react app (using Create React App), so I'm thinking it might have to do with babel.

Here is my `.babelrc`:

[code]

and then my `sitemap-builder.js`:

[code

[2019-12-06 12:31] The-Code-Monkey commented on #45
@alexeyMohnatkin did you find a way to fix this?

[2020-02-13 13:13] edwardfxiao commented on #39
@annmirosh @kuflash
Great workaround! 2 issues though:

1, mySitemap.sitemaps[0].urls[i].lastmod = 'no matter what is here'  rendered 'NaN-NaN-NaN' or some stange number 'xxx-xxx-xxx'. This seems it does not support custom lastmod.

2, mySitemap.sitemaps[0].urls[i].changefreq =  'Always'; causes error, says unhandled promise rejection. However  mySitemap.sitemaps[0].urls[i].changefreq =  'always';

[2020-02-14 15:30] stnmonroe opened #98 "Is there a way to add <video> data?"
As seen here: https://support.google.com/webmasters/answer/80471?hl=en

[2020-02-24 20:51] xlyxer opened #99 "react-router-sitemap doesn't generate urls for dynamic content from list"
We are using react-router-sitemap for creating sitemap dynamically. We got stuck with adding routes dynamically from our blog. Code returns output correctly, but doesn't add article links to the sitemap, here is the code:
[code]
Here is our sitemap we wanna add blog links after <url> <loc>http://mysite.in.ua/blog/:sortId</loc> </url>:
[code]
Thank you for your time, I would be so glad if you can h

[2020-03-02 09:49] gitcoden commented on #99
@xlyxer your function generatePostsRoutes returns undefined. So there are no additional routes

[2020-03-12 07:34] cullsin opened #100 "locize + i18n based Route path"
Hello,

I have routes that configured along with translations using i18n and locize.io.  Can you please suggest how do I achieve that.

Not working code :

       import React from 'react';
       import { Route } from 'react-router';
       import { withNamespaces } from 'react-i18next';
       export default withNamespaces(['lang_route'])(
      <Route>
        <Route path='/' />
        <Route

[2020-03-16 09:52] cullsin opened #101 "render() is not getting called"
Hello,

Seems like `render()`  method is not getting called and I can see a empty url in the sitemap.  Please suggest what I am missing over here.

sitemap-generator.js

      require('@babel/register')({
        extends: './.babelrc'
      });

      window = {
        location : {
          origin : 'localhost',
          search : '/'
        },
        addEventListener : function() {}
      }

[2020-04-01 07:38] alex1290 opened #102 "Unexpected token err"
Hi
When I call command, then I get this err.
![image](https://user-images.githubusercontent.com/45844919/78111000-8d876600-742e-11ea-95b4-3439ac5d2d6b.png)

this is my package.json
![image](https://user-images.githubusercontent.com/45844919/78110865-4d27e800-742e-11ea-9fb9-e204315cb13e.png)

sitemap generator
![image](https://user-images.githubusercontent.com/45844919/78111066-b3146f80-742e-11ea-8

[2020-04-08 07:24] SteliosVoskos opened #103 "Sitemap is not a constructor"
Hi,

When I run the sitemap.js file, it throws an error saying `Sitemap is not a constructor`. Some people had the same issue in the past and the solution was to replace the `const Sitemap = require('./').default` with `const Sitemap = require('react-router-sitemap').default`. And so I did, but I get exactly the same error.

Here is my code in sitemap-generator.js
[code]
Error stack trace
[code]
T

[2020-06-04 19:09] buddies2705 commented on #39
Pass Date Object...

Example  `new Date()` in `lastmod` .. it works ..

[2020-06-20 11:55] MehdiAghighi opened #104 "Unexpected token . from scss"
when i try to run the sitemap-generator file, it gives me unexpected token . from one of my scss files.
i trie the solution from #83 and it didn't help me.

`.babelrc`
[code]

`sitemap-generator.js`
[code]

`error`
[code]

i also installed these packages
[code]

[2020-06-20 12:17] hiradyazdan opened #105 "Localized Sitemap URLs (hreflang/alternate pages)"
Is there any chance for the sitemap generator to generate the localized versions of the urls by default in the sitemap using locales as params or a method, so that the generated sitemap conforms to the following rules/specifications in the Sitemap section?

https://support.google.com/webmasters/answer/189077?hl=en&visit_id=637282512152975721-1113004857&rd=1

Edit: I figure this looks pretty straig

[2020-06-20 12:31] hiradyazdan commented on #104
you're gonna have to tell babel explicitly how to compile the file extension you need to ignore, using an empty function. It is kind of ugly but it works. Something like:

[code]

[2020-06-20 13:16] MehdiAghighi commented on #104
@hiradyazdan where should i write this code ?

[2020-06-20 13:25] hiradyazdan commented on #104
This is a node expression, so it needs to be evaluated as early as possible in the runtime before hitting your script. You probably best to import it from a separate file with your other globally required node tweaks if you need.

[2020-06-24 13:49] NikolasJody opened #106 "I am getting a weird error on import"
import loadable from 'loadable-components';
^^^^^^

SyntaxError: Cannot use import statement outside a module
    at compileFunction (<anonymous>)
    at wrapSafe (internal/modules/cjs/loader.js:1054:16)
    at Module._compile (internal/modules/cjs/loader.js:1102:27)
    at Module._compile (/Users/nikolasjody/development/Likuid-production/garage/aventador/node_modules/pirates/lib/index.js:83:24)

[2020-07-05 00:52] Matzu89 commented on #101
Hi @cullsin,

Please check the example [here](https://github.com/kuflash/react-router-sitemap/blob/master/example/router.jsx) and export your routes as such.

[2020-09-13 13:12] AlbertoCentonze opened #108 "Compatiblity with React Router 6"
Hi, has anyone checked if the library is still working with the new version of React Router?

[2020-09-19 07:43] ChrisTranzynergy opened #109 "API.md misleading"
I have the code running *exactly* like it is in the documentation.

Here it is:
`import Sitemap from 'react-router-sitemap';`

`const paths = ["/","/solutions","/advantagecalculator","/ourstory",
                "/pricing","/clients","/registration","/registration2",
                "/contactus","/login","/welcome","/newpassword","/loading",
                "/projects","/clientslist","/resources",

[2020-09-23 21:44] mailtomohana4918 opened #110 "Parser Error while generating sitemap using react router site map"
Here is my routes.js
import React from 'react';
import { Route } from 'react-router';

//Lazy
const Homepage = lazy(() => import('@views/homepage'));
export default (
  <Route>
   <Route exact path="/" component={() => <Homepage />} />
  </Route>
);

Error:

/Users/gurrkr/sitemapgenerator/node_modules/babel-core/lib/transformation/file/index.js:558
      throw err;
      ^

SyntaxError: /Users/gur

[2020-10-23 19:24] mattrabe commented on #95
https://github.com/lanierc/react-build-sitemap/issues/1

[2020-11-08 16:15] Mauro-Avendano commented on #92
Hello! any news about this? thanks!

[2020-11-08 16:49] mfaizan1 commented on #110
Facing same issue, i guess it doesn't support lazy loaded components

[2020-11-13 14:21] acomito commented on #109
I got this far:

[code]
But now I get errors with fragments... so trying to figure out what preset I need for that

[2020-11-13 15:46] acomito commented on #106
@NikolasJody any luck?

I can get it working with generic routes but not my actual routes which have other imports from third party libraries (like antd design)

[2020-11-13 16:14] lilithebowman opened #111 "paramsConfig is completely ignored"
[code]
The value of paramsConfig is:
[code]
Output:
[code]

[2020-11-13 16:16] #111 closed, assigned to nobody

[2020-11-15 15:59] acomito commented on #92
@kuflash could you merge this one? https://github.com/kuflash/react-router-sitemap/pull/107

[2020-11-26 12:13] isaacsquires commented on #110
same issue for me too

[2020-11-29 15:39] joshbedo commented on #110
same issue, this plugin seems really outdated I can't believe there isn't a better solution.

[2020-12-09 09:07] mkhoussid commented on #106
As specified in the [docs](https://www.npmjs.com/package/react-router-sitemap),

So, you need to add the package `babel-register` and require it in your script

[2021-01-13 17:02] kmlx commented on #110
i'm not sure lazy loading is the problem, as I use it with React's lazy loading without a problem.

what I suspect is going on is babel throwing an error when it encounters this:
[code]

in my code I have the following and it works:
[code]
----
this is my config in the `sitemapGenerator.js` file which works for me:
[code]

[2021-02-03 13:53] munkk commented on #102
@alex1290
HI Alex
So how eventually you made it work?

[2021-02-04 07:55] alex1290 commented on #102
![image](https://user-images.githubusercontent.com/45844919/106859110-8b9ccc00-66fd-11eb-993b-acd7788c8925.png)
Try to add @babel/plugin-proposal-class-properties in plugins.

[2021-02-04 08:00] munkk commented on #102
@alex1290 awesome! thanks!

[2021-02-19 21:41] ChihweiLHBird opened #112 "Is This Repo Still Active?"
I saw the last update was in 2019, I am wondering if this project is still maintained? If not, is there any alternative package that is recommended to replace it? Thank you!

[2021-03-15 01:57] JeremyBrent commented on #110
Any updates on this issue?

[2021-03-15 19:19] kmlx commented on #110
@JeremyBrent fairly sure at this point that this issue has to do with configuring babel inside node, nothing to do with the plugin.

[2021-03-16 03:52] JeremyBrent commented on #110
@kmlx I see. Do you have any resources at hand, besides the config you defined above, that could point me in the right direction?

[2021-05-09 03:57] clh161 opened #113 "New react-router-sitemap-generator"
Apologize for advertising another repo but `react-router-sitemap` seems no longer maintained and I could not get it to work for react-router v5. I am creating a new one https://github.com/clh161/react-router-sitemap-generator
It is still in an early stage. Contributions and feedback are appreciated. :)

[2021-06-01 00:29] ChihweiLHBird opened #114 "Add React 17 and npm 7 Support"
[code]

It is currently not working with npm 7 and React 17 in default mode.

[2021-06-27 14:12] bert27 commented on #91
the same

[2021-07-18 07:47] Abokorhassan commented on #114
Here's what helped me... use it with the legacy flag like this:- `npm i react-router-sitemap --legacy-peer-deps`

[2021-09-06 22:20] MikeCaputo commented on #112
It looks like @clh161 has started a new repo here: https://github.com/clh161/react-router-sitemap-generator

[2021-10-19 08:28] krishnarastogi commented on #110
any update on this error or which babel version to use to fix the issue? @kuflash

[2021-10-19 12:42] kmlx commented on #110
@krishnarastogi i use this one in package.json
[code]

and my config hasn't changed since my last comment. and it still works.

i assume people should try different babel configs until it works for their use case, since you'll be running react inside node.

[2022-01-17 05:37] alansaji123 commented on #111
I too have the same issue

[2022-01-24 09:13] HolimaX opened #115 "Error in missing 'js' node module when adding sitemap to the component"
Error stacktrace:

ERROR in ./node_modules/react-build-sitemap/index.js 4:0-20
Module not found: Error: Can't resolve 'fs' in '/home/linards/Dokumenti/Dev/React/node_modules/react-build-sitemap'
resolve 'fs' in '/home/linards/Dokumenti/Dev/React/node_modules/react-build-sitemap'
  Parsed request is a module
  using description file: /home/linards/Dokumenti/Dev/React/node_modules/react-build-sitema

[2022-01-26 21:06] salivity opened #116 "will not process jsx fragment <></>"
unable to create sitemap where empty react fragment is used

https://reactjs.org/docs/fragments.html#short-syntax

[2022-02-16 14:53] Dodobrat commented on #39
@edwardfxiao  I managed to get the required result like that:
[code]

@buddies2705  I am not sure that passing the whole date object is up to spec as specified [here ](https://www.sitemaps.org/protocol.html) , in the sitemap protocol docs. It requires date format YYYY-MM-DD.

[2022-02-23 20:44] oquidave opened #117 "Unable to generate sitemap.xml file"
I am trying to implement sitemap for my react app. I am new to react and babel. I have followed through the example given. Everything seems to work just fine. However, for some reason, the sitemap.xml isn't generated at all in the specified folder. File permissions used to be fine. I am wondering why this is the issue.

//router.js
[code]
// sitemap-builder.js
[code]
//package.json

[code]

//.bas

[2022-02-24 18:52] oquidave commented on #117
Problem fixed by myself. Had to do with babel setup. First had to change the "sitemap": "babel sitemap-builder.js" to "sitemap": "babel-node sitemap-builder.js"  and deleted the .babelrc file! Script is now being executed instead of simply being shown.

[2022-04-18 05:33] ltnscp9028 opened #118 ""values-applier" reduce must provide initial value"
"values-applier" reduce must provide initial value.

If no initial value was passed, the following occurred:

(node:69764) UnhandledPromiseRejectionWarning: TypeError: Reduce of empty array with no initial value
    at Array.reduce (<anonymous>)

[2022-06-01 11:34] abhijain2003 commented on #42
![gn](https://user-images.githubusercontent.com/91718608/171394800-937928ad-8498-489b-aa71-b571c3878334.png)
![Screenshot 2022-06-01 170338](https://user-images.githubusercontent.com/91718608/171394805-7610c144-0218-4bf7-b2c5-ffc835767a0e.png)
![Screenshot 2022-06-01 170357](https://user-images.githubusercontent.com/91718608/171394807-38e00c59-e0e6-4536-84e0-39a8fc305c88.png)
![Screenshot 2022-06-

[2022-06-01 11:58] abhijain2003 commented on #117
![gn](https://user-images.githubusercontent.com/91718608/171399236-d00457be-d9c8-4d6a-af6c-e86619dfb435.png)
![Screenshot 2022-06-01 170338](https://user-images.githubusercontent.com/91718608/171399240-1cce0c37-4a1e-4cdb-b330-26222958d95d.png)
![Screenshot 2022-06-01 170357](https://user-images.githubusercontent.com/91718608/171399241-22c7ce8c-2d73-49f2-9d53-d866e4c0fe0a.png)
![Screenshot 2022-06-

[2022-07-28 12:05] Ayushraikwar commented on #117
I'm getting the exact issue, i.e, The Issues caused by Spread Operator :'( :'(